/* add css module styles here (optional) */

.test {
  background: red;
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}




.measureChangeValue {
  background: #CFCFCF;
  border-radius: 5px;
  padding: 15px;
  height: 100%;

  .measureValue {
    .changeFactor {
      margin: 0 0 0 15px;
    }
    .positive {
      color: green;
    }
    .negative {
      color: red;
    }
    .noChange {
      color: blue;
    }
    .changeIndicatorUp {
      color: #3cdc85;
      display: inline-flex;
      transform: rotate(45deg);
      margin: 0 7.5px 0 0;
    }
    .changeIndicatorDown {
      color: red;
      display: inline-flex;
      transform: rotate(315deg);
      margin: 0 7.5px 0 0;
    }
  }
}
